aiosmtplib==1.1.6
anyio==3.6.1
asgiref==3.5.1
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
django-on-heroku==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.3
messages==0.8.0
psycopg2-binary==2.9.3
rfc3986==1.5.0
sniffio==1.2.0
sqlparse==0.4.2
validus==0.3.0
whitenoise==6.1.0
