{% extends "header.html" %}
{% block content %}

{% load crispy_forms_tags %}

<ul>
<li> Nazwa imprezy: {{ party.party_name }}</li>
    <li>Data imprezy : {{ party.party_date }}</li>
    <li>Godzina rozpoczęcia imprezy: {{ party.party_time }} </li>
    <li>Opis: {{ party.description }}</li>
</ul>

    <a <button class="btn btn-primary" href="/gifts_list/">Lista prezentów </button></a>

    <a <button class="btn btn-primary" href="/guests/{{ party.id }}/">Potwierdź obecność </button></a>


{% endblock %}