{% extends "header.html" %}
{% block content %}

{% load crispy_forms_tags %}
    <table class="table">

  <thead>

    <tr class="d-flex">

      <th scope="col" class="col-1">#</th>

      <th scope="col" class="col-2">Nazwa imprezy</th>

    </tr>

  </thead>
    <tbody>

    {% for party in parties %}

    <tr class="d-flex">

      <th scope="row" class="col-1">{{ party.id }}</th>

      <td class="col-2">{{ party.party_name }}</td>

        <td class="col-1">

        <a href="/party_details/{{ party.id }}/">Szczegóły</a>

      </td>
              <td class="col-1">

        <a href="/party_edit/{{ party.id }}/">Edytuj</a>

      </td>

      <td class="col-1">

        <a href="/party_delete/{{ party.id }}/">Usuń</a>

      </td>
    {% endfor %}

  </tbody>

</table>
{% endblock %}